body {
    background-color: rgb(212, 194, 255);
}
h3{
    font-family: fantasy;
    color: black;
}
p{
    font-family: fantasy;
}
.destacado{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
#lista{
    border: 2px solid black;
    padding: 20px;
}
a{
    font-size: large;
    color: darkmagenta;
}
a:hover{
    color: blue;
}